main.home-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.home-layout > div.selector {
    padding: 0.8rem 0.75rem;

    display: flex;
    gap: 1rem;

    border: 2px solid var(--text);
    border-radius: 10px;

    background-color: var(--card-background);
}

#verified {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
}

#verified > h4 {
    color: var(--secondary);

    cursor: pointer;
    text-decoration: underline;
}
